@import 'tailwindcss';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #202020;
  --font-sans: var(--font-dm-sans);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-geist-mono);
  --background-color: #e3e7fe;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 50%, #e3e7fe 50%, #e3e7fe 100%);
  color: #202020;
  font-family: var(--font-sans);
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
